@charset "UTF-8";
:root {
  font-size: 62.5%; }

body {
  background-color: #fff;
  color: #3c495a;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #123088;
  outline: none; }

a:hover {
  text-decoration: none; }

h2,
.eapps-instagram-feed-title {
  font-size: 3.6rem;
  color: #123088; }

p {
  font-weight: 300;
  line-height: 3rem;
  font-size: 2rem; }

.bg-primary {
  background-color: #123088 !important; }

.bg-light {
  background-color: #f5f7fa !important; }

.border-top {
  border-top: 1px solid #dbe4ed !important; }

.rotate-90 {
  transform: rotate(90deg); }

.home section {
  padding: 8rem 0; }

.block-header {
  position: relative;
  text-align: center;
  padding-bottom: 3rem;
  margin-bottom: 5rem; }
  .block-header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6rem; }
  .block-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -2.5rem;
    width: 5rem;
    height: 0.2rem;
    background-color: #123088; }
  .block-header.text-left::after {
    left: 0;
    margin-left: 0; }

#header {
  padding: 0;
  font-family: 'Montserrat', sans-serif; }
  #header .navbar-brand {
    color: #123088;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -0.1rem; }
    #header .navbar-brand span {
      color: #3c495a;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0; }
  #header .navbar-toggler {
    outline: none; }
    #header .navbar-toggler .navbar-toggler-icon {
      width: 2.5em;
      height: 2.5em; }
  #header .navbar-nav {
    font-family: 'Open Sans', sans-serif; }
    #header .navbar-nav .nav-item:not(:last-child) .nav-link {
      color: #3c495a;
      padding: 0 1.6rem;
      line-height: 7.5rem;
      font-size: 1.4rem; }
    #header .navbar-nav .nav-item:last-child {
      margin: 2rem 0 2rem 2rem; }
      #header .navbar-nav .nav-item:last-child .nav-link {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #123088;
        padding: 0.5rem 2rem;
        border-radius: 0.4rem;
        border: 0.1rem solid #123088;
        background-color: transparent; }
    #header .navbar-nav .active .nav-link,
    #header .navbar-nav .nav-link:hover {
      color: #123088; }

#home-slider {
  padding: 0;
  background-color: #0056ff;
  background-image: url("../images/slider-bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  #home-slider .letstalk {
    position: relative;
    bottom: -5rem;
    z-index: 9;
    background-color: #fff;
    padding: 3.5rem 5rem 5rem;
    margin-top: -8rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    text-align: center; }
    #home-slider .letstalk span {
      background-color: #123088;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.1;
      display: inline-block;
      padding: 7px 12px;
      text-transform: uppercase;
      position: relative; }
      #home-slider .letstalk span::before {
        content: '';
        width: 0;
        height: 0;
        top: 100%;
        left: 5px;
        display: block;
        position: absolute;
        border-style: solid;
        border-width: 0 0 8px 8px;
        border-color: transparent;
        border-left-color: #123088; }
    #home-slider .letstalk h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem; }
    #home-slider .letstalk p {
      font-size: 3.5rem;
      margin-bottom: 0rem;
      color: #123088; }
      #home-slider .letstalk p a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; }

/*----------- Testimonials --------------*/
.testimonial:not(:last-child) {
  margin-bottom: 40px; }

.testimonial blockquote {
  color: #333;
  font-size: 20px;
  padding: 0; }

.testimonial h6 {
  color: #4b4e50;
  font-weight: 600;
  line-height: 20px; }

.testimonial h6:not(:last-child) {
  margin-bottom: 20px; }

.testimonial .author-box {
  overflow: hidden;
  line-height: 22px;
  display: table; }

.testimonial .author-box > * {
  display: table-cell;
  vertical-align: middle; }

.testimonial:not(.type-2):not(.testimonial-single) .avatar {
  padding-right: 20px; }

.testimonial .avatar img {
  border-radius: 50%;
  height: auto; }

.testimonial .author-name {
  font-size: 18px;
  display: block;
  color: #ce2228; }

.testimonial .author-position,
.testimonial .author-about,
.testimonial .author-company {
  display: block;
  font-size: 16px;
  color: #666; }

.testimonial .author-name:not(:last-child) {
  margin-bottom: 2px; }

.testimonial .author-position:not(:last-child) {
  margin-bottom: 2px; }

.testimonial .testimonial-holder {
  margin-bottom: 20px; }

.testimonial.testimonial-single {
  overflow: hidden; }

.testimonial.testimonial-single .author-box {
  float: left;
  width: 30%;
  margin-right: 30px;
  max-width: 263px; }

.testimonial.testimonial-single .testimonial-holder {
  float: left;
  width: 67%;
  padding-top: 30px; }

.testimonial.testimonial-single blockquote:not(:last-child) {
  margin-bottom: 20px; }

.testimonial.testimonial-single blockquote {
  position: relative; }

.testimonial.testimonial-single blockquote:before {
  content: '“';
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  right: 100%;
  margin-right: 30px;
  margin-top: -15px;
  top: 0;
  width: 68px;
  height: 68px;
  line-height: 100px;
  background: #fff;
  color: #14468c;
  z-index: 9; }

.owl-dots .owl-dot {
  width: 12px;
  height: 12px; }

.owl-dots .owl-dot {
  display: block;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .35s ease;
  transition: all .35s ease; }

#testimonials .owl-dots {
  position: absolute;
  right: 0;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#testimonials .owl-dots .owl-dot {
  display: block; }

#testimonials .owl-dots .owl-dot:not(:last-child) {
  margin-bottom: 10px; }

.owl-theme .owl-dots .owl-dot span {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #ccc;
  transition: all .3s ease; }

.owl-theme .owl-dots .owl-dot:hover span {
  background: #123088;
  border-color: #123088; }

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #14468c;
  transform: scale(1.2);
  border: 0; }

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s; }

#testimonials .btn:hover {
  background: #1f325f;
  border-color: #1f325f;
  color: #fff;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43); }

#instagram-feed .eapps-instagram-feed-title {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
  padding: 0; }

#get-started {
  background-color: #51a7ff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-bottom: 60px; }
  #get-started h2 {
    font-size: 3.6rem;
    margin-bottom: 0; }
  #get-started p {
    margin: 3rem 0; }
  #get-started .btn {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 1rem;
    padding: 0.7rem 2.5rem; }

#footer {
  padding-top: 8rem;
  background-color: #123088;
  color: rgba(255, 255, 255, 0.85); }
  #footer a {
    color: inherit; }
  #footer h4 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    color: #fff; }
  #footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #footer ul li {
      margin-bottom: 1rem; }
      #footer ul li i {
        margin-right: 0.6rem; }
  #footer .newsletter h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff; }
  #footer .newsletter button {
    background-color: #fff;
    color: #123088;
    height: 4.4rem;
    padding: 0 1.5rem;
    border: 0;
    border-radius: 0 0.4rem 0.4rem 0; }
  #footer .copyright {
    margin-top: 6rem;
    padding: 0;
    background-color: #fff;
    color: #3c495a;
    line-height: 6rem; }
    #footer .copyright p {
      margin-bottom: 0;
      line-height: inherit;
      font-size: 1.2rem; }
    #footer .copyright .social-icons {
      text-align: right; }
      #footer .copyright .social-icons a {
        display: inline-block;
        margin-left: 1rem;
        font-size: 1.8rem;
        color: #3c495a; }
        #footer .copyright .social-icons a:hover {
          color: #123088; }

/* CONTACT PAGE */
.contact-info h4 {
  font-weight: 700;
  font-size: 2.4rem; }

.contact-info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem; }

.contact-info a {
  color: rgba(255, 255, 255, 0.8); }
  .contact-info a:hover {
    color: white; }

.contact-info .contact-socials a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  padding: 0.5rem; }
  .contact-info .contact-socials a:hover {
    color: #fff; }

/* Sign In & Sign Up */
.page-template-template-contact {
  background-color: #e7ecf3 !important;
  padding-top: 0 !important; }

.page-template-template-signin #header,
.page-template-template-contact #header {
  border-bottom: 1px solid transparent;
  background-color: #e7ecf3 !important;
  box-shadow: none !important;
  position: relative !important; }

.page-template-template-signin #footer,
.page-template-template-contact #footer {
  margin-top: 0; }

.signup-page .header {
  padding: 0;
  margin-bottom: -1rem;
  text-align: center; }

.signup-page .header a {
  color: #ce2028; }

.signup-page .header a:hover {
  color: #1e3160; }

.signup-page .header h1 {
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 3.6rem;
  color: #123088; }

.signup-page .signup-form {
  background-color: #fff; }

.signup-page .form-content {
  text-indent: -999999px;
  max-width: 780px;
  margin: auto;
  background-color: #fff;
  padding: 5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-100px); }
  .signup-page .form-content h1 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 2rem; }
    .signup-page .form-content h1 span {
      font-weight: 700;
      color: #123088; }

.signup-page .form-content > div {
  text-indent: 0; }

/* PAGE */
.page-section {
  margin-bottom: 5rem; }
  .page-section > header {
    background: #123088 url("../images/stripe-bg.jpg") center center no-repeat;
    background-size: cover;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
    .page-section > header h1 {
      color: #fff;
      font-size: 4rem; }

/* BLOG */
.blog-section {
  margin: 5rem 0; }
  .blog-section .card-text p {
    font-size: 1.4rem;
    line-height: 2rem; }

button,
.btn {
  margin-left: -0.1rem;
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
  padding: 1rem 3rem;
  display: inline-block;
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.8px; }

.btn-primary {
  border-color: transparent;
  background: #123088;
  color: #fff; }

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=input],
textarea,
select {
  border: 2px solid #eee;
  border-radius: 3px;
  /* width: 100%!important; */
  padding: 5px 20px !important;
  height: 44px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; }

textarea {
  max-height: 15rem; }

.gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  display: none !important; }

.ginput_container_fileupload {
  border: 0.1rem dashed #ddd;
  padding: 2rem; }

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.4rem; }
  p {
    font-size: 1.8rem; }
  #header .navbar-brand {
    font-size: 3rem;
    margin-left: 1.5rem; }
  #header .navbar-toggler {
    outline: none;
    margin-right: 1.5rem; }
  #header .navbar-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.04); }
    #header .navbar-nav .nav-link {
      border-bottom: 1px solid rgba(0, 0, 0, 0.04); }
    #header .navbar-nav .nav-item:not(:last-child) .nav-link {
      color: #3c495a;
      line-height: 5rem; }
    #header .navbar-nav .nav-item:last-child {
      margin: 2rem; }
      #header .navbar-nav .nav-item:last-child .nav-link {
        color: #fff;
        padding: 1rem 2rem;
        background-color: #123088;
        text-align: center; }
  .home section {
    padding: 5rem 0; }
  .block-header {
    padding-bottom: 2rem;
    margin-bottom: 3rem; }
    .block-header h2 {
      font-size: 2.4rem; }
    .block-header::after {
      margin-left: -2rem;
      width: 4rem; }
  #home-slider {
    background-color: transparent; }
    #home-slider .letstalk {
      bottom: -10rem;
      padding: 3.5rem 2rem 4rem; }
      #home-slider .letstalk h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem; }
      #home-slider .letstalk p {
        font-size: 2.5rem;
        margin-bottom: 0rem; }
        #home-slider .letstalk p a {
          font-size: 3.5rem;
          margin-top: 2rem;
          display: block; }
  #welcome {
    padding-top: 12rem; }
  #testimonials .author-box {
    float: none;
    width: 90%;
    margin-right: 0;
    max-width: 140px;
    text-align: center;
    margin: 20px auto 0 auto; }
  #testimonials .testimonial-holder {
    width: 100%; }
  #testimonials .owl-dots {
    right: auto;
    top: unset;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    bottom: -20px;
    width: 100%; }
  #testimonials .owl-dots .owl-dot,
  #testimonials .owl-dots .owl-dot:not(:last-child) {
    display: inline-block;
    margin: 0 5px; }
  #instagram-feed .eapps-instagram-feed-title {
    font-size: 2.4rem; }
  #get-started h2 {
    font-size: 2.4rem; }
  #get-started .btn {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0.5rem;
    padding: 0.5rem 2rem; }
  .page-section {
    margin-bottom: 5rem; }
    .page-section > header {
      min-height: 12rem;
      margin-bottom: 3rem; }
      .page-section > header h1 {
        color: #fff;
        font-size: 3rem; }
  #footer {
    padding-top: 4rem;
    text-align: center; }
    #footer h4 {
      position: relative;
      font-size: 2.4rem;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      color: #fff; }
      #footer h4::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -2rem;
        width: 4rem;
        height: 0.2rem;
        background-color: rgba(255, 255, 255, 0.3); }
    #footer .social-icons {
      text-align: center; }
      #footer .social-icons a {
        display: inline-block;
        margin: 1rem 0.5rem;
        font-size: 1.4rem;
        color: #123088;
        background-color: #fff;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 50%; }
    #footer .copyright {
      margin-top: 3rem;
      line-height: 5rem; } }
